@import 'tailwindcss';

@theme {
  --font-albert: var(--font-albert);
  --font-montserrat: var(--font-montserrat);
}

body {
  font-family: var(--font-albert);
  background-color: lab(96.286% -0.852466 -2.46847);
}
